<h1> Welcome to Inventory System! </h1>
<%= link_to "Items", items_path %><br>
<%= link_to "Inventory Items", inventory_items_path %><br>
<%= link_to "Inventory Transactions", inventory_transactions_path %>