<h1><%= @inventory_item.item_id %></h1>
<small>Quantity: <%= @inventory_item.quantity %></small><br>

<hr><br><br>
<%= link_to "Back to Inventory Items", inventory_items_path %><br>
<%= link_to "Back to Home", root_path %>
